<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cryptocito | Cosmos ⚛️</title>

    <link rel="stylesheet" href="admin/assets/css/main/app.css" />
    <link rel="stylesheet" href="admin/assets/css/main/app-dark.css" />
    <!-- ICONS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="admin/assets/images/logo/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="admin/assets/images/logo/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="admin/assets/images/logo/favicon-16x16.png"
    />
    <link rel="manifest" href="admin/assets/images/logo/site.webmanifest" />
    <link
      rel="mask-icon"
      href="admin/assets/images/logo/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="admin/assets/css/shared/iconly.css" />

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
      .pagination {
        float: right;
        margin: 0 0 5px;
      }
      .pagination li a {
        border: none;
        font-size: 13px;
        min-width: 30px;
        min-height: 30px;
        color: #999;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 2px !important;
        text-align: center;
        padding: 0 6px;
      }
      .pagination li a:hover {
        color: #666;
      }
      .pagination li.active a,
      .pagination li.active a.page-link {
        background: #03a9f4;
        color: #fff;
      }
      .pagination li.active a:hover {
        background: #0397d6;
      }
      .pagination li.disabled i {
        color: #ccc;
      }
      .pagination li i {
        font-size: 16px;
        padding-top: 6px;
      }
      .hint-text {
        float: left;
        margin-top: 10px;
        font-size: 13px;
      }
      .page-item.disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
      }
      .modal-dialog-centered {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: calc(100% - 40px);
      }
      /* Set maximum width for modal content */
      .modal-content {
        max-width: 90%;
      }

      /* Center modal horizontally on smaller screens */
      @media (max-width: 768px) {
        .modal-dialog {
          margin: auto;
        }
      }
    </style>
  </head>
  <body>
    <script src="admin/assets/js/initTheme.js"></script>
    <div id="app">
      <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
          <div class="sidebar-header position-relative">
            <div class="d-flex justify-content-between align-items-center">
              <div class="logo">
                <a href="#"
                  ><img
                    src="/assets/images/new-logo-removebg.png"
                    alt="Logo"
                    srcset=""
                /></a>
              </div>
              <div class="theme-toggle d-flex gap-2 align-items-center mt-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="iconify iconify--system-uicons"
                  width="20"
                  height="20"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 21 21"
                >
                  <g
                    fill="none"
                    fill-rule="evenodd"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path
                      d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2"
                      opacity=".3"
                    ></path>
                    <g transform="translate(-210 -1)">
                      <path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path>
                      <circle cx="220.5" cy="11.5" r="4"></circle>
                      <path
                        d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2"
                      ></path>
                    </g>
                  </g>
                </svg>
                <div class="form-check form-switch fs-6">
                  <input
                    class="form-check-input me-0"
                    type="checkbox"
                    id="toggle-dark"
                    style="cursor: pointer"
                  />
                  <label class="form-check-label"></label>
                </div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="iconify iconify--mdi"
                  width="20"
                  height="20"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="currentColor"
                    d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z"
                  ></path>
                </svg>
              </div>
              <div class="sidebar-toggler x">
                <a href="#" class="sidebar-hide d-xl-none d-block"
                  ><i class="bi bi-x bi-middle"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="sidebar-menu">
            <ul class="menu">
              <li class="sidebar-title">Menu</li>

              <li class="sidebar-item active">
                <a href="#" class="sidebar-link">
                  <i class="bi bi-grid-fill"></i>
                  <span>Dashboard</span>
                </a>
              </li>

              <li class="sidebar-item has-sub">
                <a href="#" class="sidebar-link">
                  <i class="bi bi-person-badge-fill"></i>
                  <span>Pagination</span>
                </a>
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="/users?page=1&limit=20">20 entries per page</a>
                  </li>
                  <li class="submenu-item">
                    <a href="/users?page=1&limit=50">50 entries per page</a>
                  </li>
                  <li class="submenu-item">
                    <a href="/users?page=1&limit=100">100 entries per page</a>
                  </li>
                </ul>
              </li>

              <li class="sidebar-title">Actions</li>

              <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                  <i class="bi bi-person-plus-fill"></i>
                  <span>Create New User</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a
                  href="/4837jshjfh94y89q293fdkjhf-a73a4d5e2/addresses"
                  class="sidebar-link"
                >
                  <i class="bi bi-puzzle"></i>
                  <span>Deposit Addresses</span>
                </a>
              </li>

              <li class="sidebar-item">
                <a href="/users-back-panel" class="sidebar-link">
                  <i class="bi bi-box-arrow-left"></i>
                  <span>Logout</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="main">
        <header class="mb-3">
          <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
          </a>
        </header>

        <div class="page-heading">
          <h3>User Statistics</h3>
        </div>
        <div class="page-content">
          <section class="row">
            <div class="col-12 col-lg-9">
              <div class="row col-12 col-lg-3">
                <div class="col-6 col-lg-3 col-md-6">
                  <div class="card">
                    <div class="card-body px-4 py-4-5">
                      <div class="row">
                        <div
                          class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                        >
                          <div class="stats-icon purple mb-2">
                            <i class="iconly-boldProfile"></i>
                          </div>
                        </div>
                        <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                          <h6 class="text-muted font-semibold">Total Users</h6>
                          <h6 class="font-extrabold mb-0">
                            <%= data.stats.totalUsers %>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                  <div class="card">
                    <div class="card-body px-4 py-4-5">
                      <div class="row">
                        <div
                          class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                        >
                          <div class="stats-icon blue mb-2">
                            <i class="iconly-boldAdd-User"></i>
                          </div>
                        </div>
                        <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                          <h6 class="text-muted font-semibold">New Users</h6>
                          <h6 class="font-extrabold mb-0">
                            <%= data.stats.newUsers %>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                  <div class="card">
                    <div class="card-body px-4 py-4-5">
                      <div class="row">
                        <div
                          class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                        >
                          <div class="stats-icon green mb-2">
                            <i class="iconly-boldChart"></i>
                          </div>
                        </div>
                        <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                          <h6 class="text-muted font-semibold">New Trades</h6>
                          <h6 class="font-extrabold mb-0">
                            <%= data.stats.newTrades %>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                  <div class="card">
                    <div class="card-body px-4 py-4-5">
                      <div class="row">
                        <div
                          class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                        >
                          <div class="stats-icon red mb-2">
                            <i class="iconly-boldSwap"></i>
                          </div>
                        </div>
                        <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                          <h6 class="text-muted font-semibold">Recoveries</h6>
                          <h6 class="font-extrabold mb-0">
                            <%= data.stats.recoveries %>
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-xl-8">
                  <div class="card">
                    <div
                      style="display: flex; justify-content: space-between"
                      class="card-header"
                    >
                      <h4>Users</h4>
                      <form
                        action="#"
                        method="GET"
                        style="float: right; margin-bottom: 8px"
                        class="navbar-search navbar-search-dark form-inline mr-3 d-md-flex ml-lg-auto"
                      >
                        <div class="form-group mb-0">
                          <div class="input-group input-group-alternative">
                            <input
                              class="form-control"
                              placeholder="Search"
                              type="text"
                            />
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-hover table-lg">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Date</th>
                              <th>Email</th>
                              <th>Type</th>
                              <th>Profit</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% data.users.forEach(user => { %>
                            <tr>
                              <td class="col-3">
                                <a
                                  href="/4837jshjfh94y89q293fdkjhf-a73a4d5e2/users/<%= user._id %>"
                                >
                                  <div class="d-flex align-items-center">
                                    <div class="avatar avatar-md">
                                      <img
                                        src="<%= user.profilePic || 'assets/images/default-user.jpeg' %>"
                                      />
                                    </div>
                                    <p class="font-bold ms-3 mb-0">
                                      <%= user.fullname %>
                                    </p>
                                  </div>
                                </a>
                              </td>
                              <td class="col-auto">
                                <p class="mb-0">
                                  <%= user.createdAt.toLocaleDateString('en-US',
                                  { month: 'short', day: '2-digit', year:
                                  'numeric' }) %>
                                </p>
                              </td>
                              <td class="col-auto">
                                <p class="mb-0"><%= user.email %></p>
                              </td>
                              <td class="col-auto">
                                <p class="mb-0"><%= user.type %></p>
                              </td>
                              <td class="col-auto">
                                <p class="mb-0">$<%= user.profit %></p>
                              </td>
                              <td class="col-3">
                                <div class="d-flex align-items-center">
                                  <div class="avatar avatar-md">
                                    <i
                                      style="
                                        font-size: larger;
                                        cursor: pointer;
                                        margin-bottom: 6px;
                                        color: rgb(244, 97, 97);
                                      "
                                      class="bi bi-trash3-fill deleteIcon"
                                      data-user-id="<%= user._id %>"
                                      data-user-name="<%= user.fullname %>"
                                    ></i>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <% }); %>
                          </tbody>
                        </table>
                        <script>
                          // Function to handle delete action
                          function handleDelete(userId, userName) {
                            const deleteModal = new bootstrap.Modal(
                              document.getElementById("deleteModal"),
                              {}
                            );

                            // Set user name in modal
                            document.getElementById("userName").innerText =
                              userName;

                            // Show the modal
                            deleteModal.show();

                            // Event listener for confirm delete button
                            document
                              .getElementById("confirmDelete")
                              .addEventListener("click", async () => {
                                try {
                                  // Make delete request
                                  const response = await fetch(
                                    `/users/${userId}`,
                                    {
                                      method: "DELETE",
                                    }
                                  );

                                  if (!response.ok) {
                                    throw new Error("Failed to delete user");
                                  }

                                  // Remove user row from table
                                  const userRow = document
                                    .querySelector(`[data-user-id="${userId}"]`)
                                    .closest("tr");
                                  userRow.remove();

                                  // Close the modal
                                  deleteModal.hide();
                                } catch (error) {
                                  console.error(
                                    "Error deleting user:",
                                    error.message
                                  );
                                }
                              });
                          }

                          // Event listener for delete icon click
                          document
                            .querySelectorAll(".deleteIcon")
                            .forEach((icon) => {
                              icon.addEventListener("click", () => {
                                const userId =
                                  icon.getAttribute("data-user-id");
                                const userName =
                                  icon.getAttribute("data-user-name");
                                handleDelete(userId, userName);
                              });
                            });
                        </script>
                      </div>
                    </div>
                    <div class="clearfix">
                      <div class="hint-text">
                        Showing <b><%= data.pagination.limit %></b> entries per
                        page
                      </div>
                      <ul class="pagination">
                        <li
                          class="page-item <% if (!data.pagination.hasPrev) { %>disabled<% } %>"
                        >
                          <a
                            href="/users?page=<%= data.pagination.page - 1 %>&limit=<%= data.pagination.limit %>"
                            id="prevPage"
                            class="page-link"
                            >Prev</a
                          >
                        </li>
                        <li class="page-item active">
                          <a href="#" class="page-link"
                            ><%= data.pagination.page %></a
                          >
                        </li>
                        <li
                          class="page-item <% if (!data.pagination.hasNext) { %>disabled<% } %>"
                        >
                          <a
                            href="/users?page=<%= data.pagination.page + 1 %>&limit=<%= data.pagination.limit %>"
                            id="nextPage"
                            class="page-link"
                            >Next</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--

              <div class="col-12 col-lg-3">
              <div class="card">
                <div class="card-header">
                  <h4>Recent Messages</h4>
                </div>
                <div class="card-content pb-4">
                  <div class="recent-message d-flex px-4 py-3">
                    <div class="avatar avatar-lg">
                      <img src="assets/images/faces/4.jpg" />
                    </div>
                    <div class="name ms-4">
                      <h5 class="mb-1">Hank Schrader</h5>
                      <h6 class="text-muted mb-0">@johnducky</h6>
                    </div>
                  </div>
                  <div class="recent-message d-flex px-4 py-3">
                    <div class="avatar avatar-lg">
                      <img src="assets/images/faces/5.jpg" />
                    </div>
                    <div class="name ms-4">
                      <h5 class="mb-1">Dean Winchester</h5>
                      <h6 class="text-muted mb-0">@imdean</h6>
                    </div>
                  </div>
                  <div class="recent-message d-flex px-4 py-3">
                    <div class="avatar avatar-lg">
                      <img src="assets/images/faces/1.jpg" />
                    </div>
                    <div class="name ms-4">
                      <h5 class="mb-1">John Dodol</h5>
                      <h6 class="text-muted mb-0">@dodoljohn</h6>
                    </div>
                  </div>
                  <div class="px-4">
                    <button
                      class="btn btn-block btn-xl btn-outline-primary font-bold mt-3"
                    >
                      Start Conversation
                    </button>
                  </div>
                </div>
              </div>
            </div>

            -->
          </section>
        </div>

        <footer>
          <div class="footer clearfix mb-0 text-muted">
            <div class="float-start">
              <p>Cryptocito&copy; 2023</p>
            </div>
            <div class="float-end">
              <p>
                <span class="text-danger"><i class="bi bi-heart"></i></span>
                Your next gen trading..
              </p>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- Warning Modal -->
    <div class="modal" tabindex="-1" id="deleteModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm Deletion</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>
              Are you sure you want to delete
              <span style="font-weight: bold" id="userName"></span> ?
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button type="button" class="btn btn-danger" id="confirmDelete">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="admin/assets/js/bootstrap.js"></script>
    <script src="admin/assets/js/app.js"></script>

    <!-- Need: Apexcharts -->
    <script src="admin/assets/extensions/apexcharts/apexcharts.min.js"></script>
    <script src="admin/assets/js/pages/dashboard.js"></script>
  </body>
</html>
